<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-inverse" id="nav_bar">
    <div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
       <!--
          {%- if site.logo -%}
            <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}"/>
          {%- else -%}
            {{ site.title }}
          {%- endif -%}
        -->
        <img src="assets/img/logo-cir4.png" alt="">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        
                <ul class="navbar-nav ml-auto">
        {% for item in site.data.navigation %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.link | relative_url }}" {% if page.url == item.link %}style="border: 1px solid white;"{% endif %}>
            {{ item.name }}
          </a>
        </li>
        {% endfor %}
      </ul>


      </div>
    </div>
  </nav>
  <!-- End Navigation -->