---
layout: default
---
{% include nav.html %}
<!-- Page Header -->
{% if page.background %}

<!--
<div id="backgroundimage" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')"></div> 
-->

  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    <div class="container">
      <div class="intro-text">
    {%- if site.data.sitetext.header.title -%}
        <div class="intro-lead-in">{{ site.data.sitetext.header.title | markdownify }}</div>
    {%- endif -%}
    {%- if site.data.sitetext.header.text -%}
        <div class="intro-heading text-uppercase">{{ site.data.sitetext.header.text | markdownify }}</div>
    {%- endif -%}
    {%- if site.data.sitetext.header.button -%}
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext.header.buttonlink }}">{{ site.data.sitetext.header.button }}</a>
    {%- endif -%}
      </div>
    </div>
  </header>

{% endif %}

{% if page.title %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <p>
          <h4>{{ page.title }}</h4>
          </p>
          {% if page.date %}
          <p>{{ page.date | date_to_string }}  {{ page.author }}</p>
          {% endif %}
      </div>
    </div>
  </div>

{% endif %}



  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

      </div>
    </div>
  </div>
